[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=uzver
Group=www-data
WorkingDirectory=/home/uzver/su_test
ExecStart=/home/uzver/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          su_test.wsgi:application

[Install]
WantedBy=multi-user.target